$main-color-1 : #08AEEA;
$main-color-2 : #2AF598;

$box-shadow-color : rgba(0, 0, 0, 0.1);
$text-color : #2F4053;
$sub-text-color : rgba(40, 40, 40,0.8);

$background-color1 : #ffffff;
$background-color2 : #f9f9f9;

$border-color : rgba(0, 0, 0, 0.2);
// #E3612D